[Unit]
Description = switchbot exporter
Requires = bluetooth.service
After = bluetooth.service

[Service]
ExecStart = /usr/local/bin/switchbot_exporter
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
